@model CpuViewModel


<div class="card card-rounded">
    <div class="card-body bg-orange d-flex flex-row card-rounded-top">
        <div class="icon-shape text-white rounded-circle shadow bg-orange-icon">
            <i class="fas fa-microchip"></i>
        </div>
        <div class="d-flex flex-column ml-4">
            <h5 class="card-title">@Model.CpuName @@ @Model.CpuClockSpeed Ghz</h5>
            <p class="card-text">@Model.PhysicalCpuCores / @Model.LogicalCpuCores cores</p>
        </div>
        <div class="cpu-usage-chart">
            <canvas id="cpu-usage-chart" width="75" height="75"></canvas>
        </div>
    </div>
    <div class="card-body card-rounded-bottom">
        <canvas id="cpu-chart"></canvas>
    </div>
</div>


<script>
addCpuUsage(@Model.CpuUsage);

var cpuChartCtx = document.getElementById('cpu-chart').getContext('2d');

Chart.pluginService.register({
    beforeDraw: function(chart) {
        if (chart.config.options.elements.center) {
            // Get ctx from string
            var ctx = chart.chart.ctx;

            // Get options from the center object in options
            var centerConfig = chart.config.options.elements.center;
            
            var fontStyle = 'Arial';
            var text = centerConfig.text;

            ctx.textAlign = 'center';
            ctx.textBaseline = 'middle';
            var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
            var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
            ctx.font = "normal normal lighter 15px " + fontStyle;
            

            //Draw text in center
            ctx.fillText(text, centerX, centerY);
        }
    }
});


var conf = {
    type: 'line',
    data: {
        labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
        datasets: [{
            label: 'CPU Usage',
            data: cpuUsageHistoric,
            fill: false,
            backgroundColor: "#ffbe76",
            borderColor: "#ffbe76"
        }]
    },
    options: {
        animation: {
            duration: 0
        },
        legend: {
            display: false,
        },
        aspectRatio: 2,
        scales: {
            xAxes: [{
                display: false,

            }],
            yAxes: [{
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 1
                }
            }]
        }
    }
};

new Chart(cpuChartCtx, conf);


var cpuUsageConfig = {
    type: 'doughnut',
    data: {
        datasets: [{
            data: [
                @Model.CpuUsage,
                1 - @Model.CpuUsage
            ],
            backgroundColor: [
                "#6ab04c",
                "#fffff"
            ],
            borderWidth: 0,
        }],
        labels: [
            'Used',
            'Free'
        ]
    },
    options: {
        cutoutPercentage: 80,
        responsive: true,
        legend: {
            display: false
        },
        animation: {
            animateScale: false,
            animateRotate: false
        },
        elements: {
            center: {
                text: `${parseInt(`${@Model.CpuUsage * 100}`, 10)}%`,
            }
        }
    }
};

var cpuChartUsageCtx = document.getElementById('cpu-usage-chart').getContext('2d');
new Chart(cpuChartUsageCtx, cpuUsageConfig);
</script>